*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  font-weight: 600;
}

.weather-card {
  border-radius: 15px;
  transition: transform 0.3s;
}

.weather-card:hover {
  transform: scale(1.05);
}

.temp {
  font-size: 40px;
  font-weight: bold;
}